.banner{
    display: grid;
    place-items: center;
    background: #f2f2f2;
    background-repeat: no-repeat;
}
.product_Image{
    animation: carousel 14s ease-in-out;
    animation-play-state: running;
    animation-delay: 2s;
    height: 620px;
    width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
}
@keyframes carousel {
            0%   {background-image: url("https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg");}
            25%  {background-image: url("https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg");}
            50%  {background-image: url("https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg");}
            100% {background-image: url("https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg");}
  }
@media screen and (max-width:660px) {
    .product_Image{
        width: 100vw;
        height: 310px;
    }
}