.banner{
    display: grid;
    place-items: center;
    background: #f2f2f2;
    background-repeat: no-repeat;
}
.product_Image{

    background-image: url("/public/images/Banner.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width:660px) {
    .product_Image{
        width: 100vw;
        height: 310px;
    }
}