.cards , .header,.meta{
text-decoration: none;
}
a{
    text-decoration: none !important;
}
.mainDetail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: auto;
}
.mainDetail_items{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    height: auto;
}
.mainDetail_product{
    background-color: rgba(239, 239, 239, 0.526);
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.mainDetail_product2{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
#btn_atc{
    padding: 8px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: dodgerblue;
    color: white;
}
#btn_bn{
    padding: 8px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgb(30, 255, 131);
    color: white;
}
.mainDetail_product img{
    padding: 18px;
    border-radius: 12px;
}
#ProductImage
{
    width:30%
}
.mainDetail_product2 h5{
   font-size: 20px;
}
@media screen and (max-width :700px) {
    .mainDetail_product{
        flex-direction: column;
    }
    .mainDetail{
        flex-direction: column;
    }
    #ProductImage{
        width: 50%;
    }
    .mainDetail_product2 h5{
        font-size: 15px;
     }
}
